.container {
  height: 15rem;
  width: 90%;
  max-width: 40rem;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: coral; */
}

.coinNameAndLogo {
  margin: 1rem 1rem;
}

.nameAndRank {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  margin: 0 1rem;
}

.nameAndRank p {
  width: 100%;
  text-align: left;
  display: flex;
  margin: 0;
}

.rank {
  width: auto;
}
