li {
  list-style-type: none;
}

a {
  font-weight: 600;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

a:hover {
  cursor: pointer;
  background-color: lightblue;
}

img {
  margin-right: 0.75rem;
}

.symbol {
  color: #808080;
  margin-left: 0.25rem;
}

.rank {
  margin-left: auto;
}
