* {
  box-sizing: border-box;
}

html {
  margin: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

main {
  text-align: center;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background-color: #ff213f;
  color: white;
  border-color: 1px solid white;
}

button:hover {
  background-color: white;
  color: black;
}
